html {
	font-size: 62.5%;
}
body {
	background-color: #ffffff;
	font-family: 'bebas_neueregular';
	font-size: 1.4rem;
	color: #1d340d;
  margin-left: 0%;
  margin-right: 0;
}
.row {
  margin-left: 0%;
  margin-right: 0%;
}
.btn-success {
  background-color: #1abc9c;
  border-color: #1abc9c;
  margin-top: 2rem;
}
.btn-success:hover {
  background-color: #48c9b0;
  border-color: #48c9b0;
}
/*-----------------------------------------Menu-----------------*/
.navbar {
  background-color: #ffffff;
  color: #1d340d;
  font-size: 2rem;
  padding-top: 2.5vh;
  border: none;
  padding-bottom: 1%;
}
.navbar-outer {
  width: 1200px;
}
.navbar-fixed-top {
  /*background-color: #fff;*/
}
.navbar-inverse .navbar-nav > li > a {
  color: #1d340d;
  margin-left: 5px;
  border: 1px solid transparent;
  line-height: 1rem;
}
.navbar-inverse .navbar-nav > li > a:hover {
  display: block;
  color: #1d340d;
  border: 1px solid transparent;
  border-color: #1d340d;
  line-height: 1rem;
  border-radius: 4px;
  transition: all 0.7s ease;
}
.navbar-inverse .navbar-nav > .active > a {
  display: block;
  border-color: #1d340d;
  background-color: transparent;
  border-radius: 4px;
  color: #1d340d;
}
.navbar-inverse .navbar-nav > .active > a:hover {
  color: #1d340d;
  background-color: transparent;
}
#logo img {
  display: block;
  float: none;
  margin-top: -4rem;
  padding-top: 2rem;
  margin-left: -2rem;
}
/*------------------------------------------carousel - pelne okno ---------------------*/
#slider {
	padding-top: 10rem;
}
.carousel .item {
  width: 100%;
  max-height: 900px;
}
.carousel .item img {
  width: 95.6%;
  margin-left: 2.4%;
}
.carousel-caption {
  top: 90px;
  bottom: auto;
}
.carousel-caption p {
   font-weight: 300;
   line-height: 8rem;
   color: #fff;
   margin-top: auto;
   font-size: 5rem;
   text-shadow: 0px 4px 6px black;
}
/*-------------------O NAS ----------------------------------------------*/
.ONAS {
    margin-top: -11.5%;
    padding-bottom: 3%;
    padding-top: 2%;
    color: #fff;
    width: 100%;
    text-shadow: 0px 4px 6px black;
}
.green_arrow img {
	position: relative;
	z-index: -50;
}
.green_arrow_O img{
  margin-top: 8%;
}
.earth {
	margin: auto;
	padding: 3vh;
}
.text_about_1,
.text_about_2 {
	font-family: 'Amiko', sans-serif;
	color: #1d340d;
	padding-bottom: 2vh;
}
.pomoc_opis_2 {
  margin-left: 10%;
  margin-right: 10%;
}
/*------------------------------------nasze usługi -------------------- */
.NU {
    color: #fff;
    padding-bottom: 10%;
    margin-top: -10%;
    text-shadow: 0px 4px 6px black;;
}
.OUT {
	position: absolute;
}
	.trawa img {
}
.trawa .img-responsive {
	display: inline-block;
}
.trawa {
	position: relative;
}
.trawa a {
	display: block;
	position: relative;
}
.trawa a img {}
.trawa a p {
    position: absolute;
    margin: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
    top: 49%;
    left: 47%;
    font-size: 2.0rem;
    text-shadow: 0px 4px 6px black;
    color: #fff;
    transform: translate(-45%, -52%);
}
.KIIRO, .POS {
	width: 7.5em;
}
.zielone_kola_rzad_2 {
	padding: 2em;
}
.OUTS_nav_dolna li {
  border: solid 1px #578139;
  border-radius: 4px 4px 4px 4px;
  font-size: 1.5rem;
  margin-bottom: 2%;
}
.form-group {
  color: #578039;
    font-size: 2rem;
    margin-left: 10%;
    padding-bottom: 5%;
}
.OUTS_nav_dolna ul li {
  color: #578139;
}
.OUTS_nav_dolna li a {
  color: #578139;
}
.OUTS_nav_dolna li a {
  color: #578139;
}
.navbar-inverse .navbar-nav > .active > a {
  display: block;
  border-color: #1d340d;
  background-color: transparent;
  border-radius: 4px;
  color: #1d340d;
}
.OUTS_nav_dolna li  > a:hover {
  color: #fff;
  background-color: #578139
}
/*--------------------------------PORADNIK -------------------*/
.PP {
    color: #fff;
    text-shadow: 0px 4px 6px black;
    margin-top: -10%;
}
.WYTWORCA {
	margin: auto;
	display: block;
}
.OBOWIAZKI, .ZUZYTY, .SPRAWOZADANIA {
	margin: auto;
}
.WPROW_BAT, 
.ZBIERAJACY,
.SPRAWOZDANIA_I_OPLATY,
.OBOWIAZKI {
	margin: auto;
}
.green_arrow_2 img {
	z-index: -50;
	position: relative;
}
.check_in {
	margin-top: 5%;
	margin-bottom: 5%;
}
.check_in p {
	font-size: 1.9rem;
}/*
/*--------------------------------Nasza oferta -------------------*/
#oferta {
	position: relative;
}
.NO {
	margin-top: -10%;
    color: #fff;
    text-shadow: 0px 4px 6px black;
}
.KOS {
	margin-top: 7%;
	font-size: 1.3em;
}
.poradnik a {
	color: #1d340d;
}
.man_and_tree_left ul,
.man_and_tree_right ul {
	font-family: 'Amiko';
	line-height: 2em;
}
.man_and_tree_left img {
	margin: 0 auto;
	padding-top: 10%;
}
.man_and_tree_left h4 {
	text-align: center;
	padding-bottom: 5%;
	color: #1d340d;
}
.man_and_tree_left ul {
	margin-left: 10%;
	color: #1d340d;
}
.man_and_tree_right img {
	margin: 0 auto;
	padding-top:  10%;
}
.man_and_tree_right h4 {
	text-align: center;
	padding-bottom: 5%;
	color: #1d340d;
}
.man_and_tree_right ul {
	margin-left: 10%;
	color: #1d340d;
	padding-bottom: 10%;
}
.klienci_logo {
	padding-bottom: 2%;
}
/*----------kontkat --------------------------*/
#kontakt {
	padding-top: 6rem;
	padding-bottom: 3rem;
	text-align: center;
	height: 25rem;
	width: 100%;
  display: inline-block;
  background: url(../grafiki/pasek_liscie.jpg) repeat 0 1000px fixed;
  position: relative;
}
    .biale_logo {
	position: absolute;
}
.address {
	   color: #fff;
    text-shadow: 0px 4px 6px black;
    position: absolute;
    font-family: 'Amiko';
}
.mapa {
    color: #fff;
    text-shadow: 0px 4px 6px black;
    position: absolute;
    font-family: 'Amiko';
    text-align: left;
}
.mapa li a {
	color: #fff;
	text-shadow: 0px 4px 6px black;
	font-family: 'Amiko';
}
.mapa li {
  text-align: left;
}
/*-----------------formularz -----------------------*/
.formul h3 {
	color: #578039;
	padding-top: 2%;
	font-size: 3rem;
}
.formularz label {
	color: #578039;
}
label {
  font-weight: normal;
  display: table;
}
.form-group,
.form-control {
	color: #578039;
	font-size: 2rem;
}
.formul {
	background-color: #fff;
}
.well-sm {
	background-color: #fff;
	box-sizing: border-box;
}
.well {
	border: 1px solid #fff;
	padding-bottom: 3%;
	padding-top: 2%;
	padding-right: 7%;
	max-width: 1000px;
}
#user-id,
#email-id,
#phone-id,
#quest-id
 {
	border-bottom: #578039 solid 1px;
	border-top: #ffffff 0px;
	width: 30rem;
	margin: 0 auto;
}
.btn {
	background-color: #fff;
	border: #578039 solid 2px;
    color: #578039;
    font-size: 1.8rem;
   	padding: 15px 15px;
    line-height: 0.428571;
	position: absolute;
}
footer {
	background-color: #578039;
	height: 55px;
	width: 100%;
	text-align: left;
	position: absolute;
  margin-top: 3.5%;
}
footer p {
	padding-top: 1.3%;
    font-family: 'Amiko';
    font-size: 0.9em;
    margin-left: 3%;
}
/*--------------------------------media--------------------*/
@media (min-width: 320px) {
  #slider {
    display: none;
  }
  #onas {
    margin-top: 35%;
  }
	.NU {
	font-size: 1.5rem;
	 }
	.ONAS {
    font-size: 1.5rem;
    }
    .PP {
    	font-size: 1.5rem;
    }
    .NO {
    	font-size: 1.5rem;
    }
    #klienci {
    	display: none;
    }
    .biale_logo {
    width: 50%;
    display: inline-block;
    }
    .address {
      font-size: 1.5rem;
      width: 75%;
      margin-top: -5%;
    }
    .mapa_strony {
      display: none;
    }
    .btn {
      margin-left: 37%;
      margin-bottom: 2%;
    }
    .formul h3 {
    color: #578039;
    padding-top: 1%;
    font-size: 1.9rem;
    margin-top: 0%;
    padding-bottom: 4%;
    }
    .form_block {
    margin-top: 18%;
    }
    .calendar {
      display: none;
    }
}
@media (min-width: 480px) {
    #onas {
    margin-top: 22%;
    }
	 .NU {
	 	font-size: 2rem;
	 }
    .ONAS {
    font-size: 2rem;
    }
    .PP {
    font-size: 2rem;
    }
    .NO {
    font-size: 2rem;
    }
	 #klienci {
    display: all;
    }
    .biale_logo {
    width: 45%;
    display: inline-block;
    }
     .address {
      font-size: 1.5rem;
      width: 75%;
      margin-top: -5%;
    }
    .formul h3 {
    color: #578039;
    font-size: 2.2rem;
    margin-top: 0%;
    padding-bottom: 4%;
    }
    .form_block {
      margin-top: 8%;
    }
    .calendar {
    display: none;
    }
}
@media (min-width: 640px) {
  #slider {
    display: inline-block;
  }	
  .carousel-caption h2 {
 	 	font-size: 4rem;
	}
	.NU {
	 	font-size: 2.5rem;
	 }
	.ONAS {
    font-size: 2.5rem;
    }
    #onas {
    margin-top: auto;
  }
    .PP {
    font-size: 2.5rem;
    }
    .NO {
    font-size: 2.5rem;
    }
    #klienci {
    	display: inline-block;
    }
    .biale_logo {
      width: 25%;
      display: none;
    }
    .address {
      font-size: 1.5rem;
      margin-left: 6%;
      width: 50%
    }
    .mapa_strony {
      font-size: 1.5rem;
      display: block;
      width: 40%;
      margin-left: 50%;
      margin-top: -5%;
    }
      .OUT_text p {
     margin-top: 4%;
     margin-left: 3%;
     line-height: 2;
    }
    .OUT_text li {
      margin-left: 3%;
    }
    .sklep {
      display: none;
    }
    .warsztat {
      display: none;
    }
    .zaklad {
      display: none;
    }
}
@media (min-width: 768px) {
	.NU {
	 	font-size: 2.5rem;
	 }
	.ONAS {
    	font-size: 3.5rem;
    }
    .PP {
    font-size: 3.5rem;
    }
    .NO {
    font-size: 3.5rem;
    }
    #klienci {
    	display: block;
    }
    .telefon {
    	padding-right: 11%;
    }
    .Iin {
    	padding-right: 11%;
    }
    .Em {
    	padding-right: 11%;
    }
    .btn {
    	margin-left: 23%;
    }
    .OUT_text {
     margin-top: -12%;
    }
    .calendar {
    display: block;
    transform:rotate(20deg); -webkit-transform:rotate(20deg); 
    -moz-transform:rotate(20deg); -o-transform:rotate(20deg);
    }
    .sklep {
      display: block;
      max-width: 98%;
    }
    .warsztat {
      display: block;
      max-width: 95%;
    }
    .zaklad {
      display: block;
      max-width: 90%;
    }
}
@media (min-width: 1024px) {
	.carousel-caption h2 {
 	 	font-size: 4rem;
	}
	.NU {
	 	font-size: 3.5rem;
	 }
	.ONAS {
    font-size: 3.5rem;
    }
    .PP {
    font-size: 3.5rem;
    }
    .NO {
    font-size: 3.5rem;
    }
    .telefon {
    	padding-right: 2%;
    }
    .Iin {
    	padding-right: 2%;
    }
    .Em {
    	padding-right: 2%;
    }
    .pytanie {
    	padding-right: 2%;
    }
    .btn {
    margin-left: 33%;
    margin-top: 1%;
    margin-bottom: 2%;
    }
    .biale_logo {
    width: 20%;
    display: block;
    margin-left: 6%;
    }
    .address {
    font-size: 1.5rem;
    margin-left: 28%;
    margin-top: -2%;
    }
    .mapa_strony {
      font-size: 1.5rem;
       margin-left: 52%;
      margin-top: -2%;
    }
    .formul h3 {
    color: #578039;
    font-size: 2.2rem;
    margin-top: 0%;
    padding-bottom: 4%;
    }
    .form_block {
      margin-top: 0%;
    }
    .formul {
      margin-left: 12%;
    }
}
@media (min-width: 1366px) {
	 .ONAS {
    font-size: 3.8rem;
    }
	 .NU {
	 	font-size: 3.8rem;
	 }
	 .PP {
    font-size: 3.8rem;
    }
    .NO {
    font-size: 3.8rem;
    }
    .btn {
    margin-left: 55%;
    }
    .biale_logo {
    width: 15%;
    display: block;
    }
    .address {
    font-size: 1.5rem;
    margin-left: 29%;
    margin-top: -2%;
    }
    .mapa_strony {
    font-size: 1.5rem;
    margin-left: 51%;
    margin-top: -2%;
    }
    .btn {
    margin-left: 27%;
    margin-top: 1%;
    margin-bottom: 2%;
    }
    .formul {
      margin-left: 12%;
    }
}
/*-------------------------koniec media -------------------------*/
.OUT_text {
  font-family: 'Amiko';
  padding-bottom: 2%;
  line-height: 2em;
  text-indent: 2px;
  margin-top: -2%;
  margin-left: 10%;
}
.OUT_text li {
  list-style-type: disc;
  line-height: 2.5em;
}
.OUT_text_gorny li {
  list-style-type: disc;
  line-height: 2.5em;
  margin-left: 5%;
}
.calendar {
  max-height: 35rem;
  padding-left: 4rem;
  padding-bottom: 2rem;
  margin-top: -5rem;
} 
.sklep {
  margin-top: -2.5rem;
}
.warsztat {
  margin-top: -3%;
  margin-bottom: 5rem;
  max-width: 95%
}
.zaklad {
  margin-top: 2rem;
 }
 .sprawozdania {
    max-width: 50%;
    /* text-align: right; */
    margin-left: 18%;
    margin-bottom: 10%;
 }
.podzial {
  font-family: 'Amiko';
  line-height: 1.9em;
  list-style-type: disc;
  margin-left: 28rem;
}
.srodowisko {
    font-family: 'Amiko';
    line-height: 3.5rem;
    list-style-type: disc;
    margin-left: 13rem;
    margin-right: 16rem;
}
.srodowisko ul {
    font-size: 5rem;
}
.Outsour_foto_ziemia {
    width: 19%;
    float: right;
    margin-top: -8%;
    margin-bottom: -11%;
}
.pozwolenia_foto_zarowka {
    width: 35%;
    margin-top: 2%;
    float: right;
    margin-right: 29%;
    padding-bottom: 7%;
}
.pozwolenia_lista {
  margin-left: 15%;
}
.OUT_text_gorny {
    font-family: 'Amiko';
    padding-bottom: 2%;
    line-height: 2em;
    text-indent: 2px;
    margin-top: -2%;
    margin-left: 14%;
    margin-right: 13%;
}
.karty_foto_notes {
  margin-left: 15%;
  width: 50%;
  padding-bottom: 10%;
}
.programy_foto_ziemia {
  margin-left: 15%;
  width: 70%;
  padding-bottom: 10%;
}
.programy_text {
  margin-top: 5%;
}
.OUT_text li {
  margin-left: 10%;
}
.akty_foto {
  margin-left: 62%;
  width: 27%;
  margin-top: -17%;
}